[Unit]
Description=torrentdb service
After=network.target postgresql.service

[Service]
Type=simple
User=torrentdb
SecureBits=keep-caps
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
DevicePolicy=closed
PrivateDevices=true
PrivateTmp=true
NoNewPrivileges=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ProtectHostname=true
ExecStart=/usr/bin/torrentdb daemon

[Install]
WantedBy=multi-user.target
